.switcherWrapper {
  border-radius: 10px;
  background: #ffffff;
  filter: drop-shadow(0px 4px 10px #ffffff);
  display: flex;
  align-items: center;
  position: relative;
}

.item {
  padding: 8px 12px;
  color: #000000;
  z-index: 3;
  cursor: pointer;
  font-family: "Inter-SemiBold";
  font-size: 14px;
  letter-spacing: 0.8px;
}

.activeBackground {
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 10px;
  background: #b7b7b7;
  height: 35px;
  width: 50%;
  z-index: 2;
  transition: all 0.5s;
}

.left {
  transform: translateX(-100%);
}

.right {
  transform: translateX(0%);
}
