.aboutWrapper {
  margin: 48px 0;
  padding: 0 26px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  min-height: calc(100vh - 404px);

  @media screen and (min-width: 1316px) {
    max-width: 1260px;
    margin: 48px auto;
    padding: 0;
  }
}