.productsWrapper {
  margin: 48px 0;
  padding: 0 26px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  min-height: calc(100vh - 404px);

  @media screen and (min-width: 1316px) {
    max-width: 1260px;
    margin: 48px auto;
    padding: 0;
  }

  @media screen and (max-width: 800px) {
    padding: 0 13px;
    margin: 12px auto 24px;
    gap: 24px;
  }
}

.categoriesWrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  max-width: 100vw;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;

  @media screen and (max-width: 800px) {
    max-width: calc(100vw - 70px);
    width: 100%;
    gap: 12px;
    flex-wrap: wrap;
  }
}

.contentWrapper {
  display: flex;
  gap: 48px;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.productsDataWrapper {
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
  height: fit-content;

  @media screen and (max-width: 800px) {
    justify-content: center;
  }
}

.filterIconBox {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 800px) {
    width: 0;
    height: 0;
  }
}

.filterIcon {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 800px) {
  .filterIcon {
    display: none;
  }
}

.filterBox {
  display: none;

  @media screen and (min-width: 800px) {
    display: block !important;
  }
}

.infoWrapper {
  overflow: hidden;
  position: relative;
  background: #e8e8e8;
  margin-bottom: 40px;
  padding: 24px 24px 40px;
  border-radius: 15px;
  height: auto;
  max-height: 10em;

  &.isExpanded {
    max-height: 140em;

    &::after {
      background: unset;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(
      0deg,
      rgba(232, 232, 232, 1) 0%,
      rgba(232, 232, 232, 1) 60%,
      rgba(115, 115, 115, 0) 100%
    );
    border-radius: 15px;
    z-index: 1;
  }
}

.infoButton {
  position: absolute;
  bottom: 24px;
  right: 24px;
  color: #cc3292;
  border: none;
  cursor: pointer;
  z-index: 2;
  background: transparent;
}
