.stikyInfoWrapper {
  background-color: #e8e8e8;
  padding: 13px 26px;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1260px;
  margin: 0 auto;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    gap: 16px;
  }
}

.itemWrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  svg {
    width: auto;
    height: 24px;
    fill: #000;
  }

  p {
    color: #000;
    font-family: "Inter-SemiBold";
    letter-spacing: 0.8px;
  }

  a {
    text-decoration: none;
    font-family: "Inter-SemiBold";
    font-size: 14px;
    letter-spacing: 0.8px;
    color: #000;
  }
}

.switcher {
  @media screen and (max-width: 800px) {
    display: none;
  }
}
