.footerWrapper {
  background: #e8e8e8;
  padding: 48px 26px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1260px;
  margin: 0 auto;
}

.primaryInfoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    gap: 24px;
  }
}

.navigationWrapper {
  display: flex;
  align-items: center;
  gap: 24px;

  a {
    font-family: "Inter-SemiBold";
    font-size: 14px;
    letter-spacing: 0.8px;
    color: #000;
    text-decoration: none;
  }
}

.activeLink {
  color: #cc3292 !important;
}

.socialWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.infoWrapper {
  display: flex;
  gap: 24px;
}

.itemWrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  svg {
    width: auto;
    height: 24px;
    fill: #000;
  }

  p {
    font-family: "Inter-SemiBold";
    font-size: 14px;
    letter-spacing: 0.8px;
    color: #000;
  }

  a {
    text-decoration: none;
    font-family: "Inter-SemiBold";
    font-size: 14px;
    letter-spacing: 0.8px;
    color: #000;
  }
}

.copyRight {
  font-family: "Inter-SemiBold";
  font-size: 14px;
  letter-spacing: 0.8px;
  color: #000;
}
