.appWrapper {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}

div,
p {
  font-family: "Inter-Regular";
  font-size: 14px;
  line-height: 150%;
  text-align: left;
}

h1 {
  font-family: "Inter-Medium";
  font-size: 18px;
  line-height: 175%;
}
