.companiesWrapper {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 800px) {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
      display: none;
    }
  }

  img {
    opacity: 0.5;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
