.homeWrapper {
  margin: 48px 0;
  padding: 0 26px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  min-height: calc(100vh - 404px);

  @media screen and (min-width: 1316px) {
    max-width: 1260px;
    margin: 48px auto;
    padding: 0;
  }

  @media screen and (max-width: 800px) {
    padding: 0 13px;
  }
}

.viber {
  position: absolute;
  bottom: 48px;
  left: 24px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #fff;
  z-index: 9999;
  box-shadow: 8px 10px 15px 1px rgba(161, 161, 161, 0.75);
  -webkit-box-shadow: 8px 10px 15px 1px rgba(161, 161, 161, 0.75);
  -moz-box-shadow: 8px 10px 15px 1px rgba(161, 161, 161, 0.75);
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 800px) {
    bottom: 120px;

    width: 56px;
    height: 56px;
  }
}

.messenger {
  position: absolute;
  bottom: 48px;
  right: 24px;
  width: 64px;
  height: 59px;
  border-radius: 100%;
  background-color: #fff;
  z-index: 9999;
  box-shadow: 8px 10px 15px 1px rgba(161, 161, 161, 0.75);
  -webkit-box-shadow: 8px 10px 15px 1px rgba(161, 161, 161, 0.75);
  -moz-box-shadow: 8px 10px 15px 1px rgba(161, 161, 161, 0.75);
  cursor: pointer;

  svg {
    width: 100%;
    height: calc(100% + 5px);
  }

  @media screen and (max-width: 800px) {
    bottom: 120px;

    width: 56px;
    height: 56px;

    svg {
      width: 100%;
      height: calc(100% + 1px);
    }
  }
}